extends layout


block content
  link(rel='icon', href='/favicon.ico')
  script(src="https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js")
  //- script(src="http://static.opentok.com/v1.1/js/TB.min.js")
  script
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
   
    ga('create', 'UA-41638575-1', 'doxy.me');
    ga('send', 'pageview');

  script(src="/javascripts/lib/jquery.js")
  script
    var sessionId = "#{sessionId}"
    var apiKey = #{OpenTokKey}
    var token = "#{token}"
    var Room = "#{Room}"
    var origin = "#{origin}"


  script(src="/javascripts/main.js")
    
  
  div#emailLink
      a(href="mailto:recipient@example.com?Subject=Doxy.me%20meeting%20invitation&Body=Hi%20there!%0D%0DYou've%20been%20invited%20to%20a%20Doxy.me%20meeting!%0D%0DGo%20to%20" + origin + "/" + Room + "%0D%0DWe%20hope%20you%20have%20a%20wonderful%20experience%20using%20Doxy.me.%20If%20you%20get%20a%20chance,%20please%20let%20us%20know%20how%20it%20worked%20for%20you:%20http://tiny.cc/0g5iyw", target="_blank") Email this link
        i.iconHidden &#9993;


  div#promptArrow
    span.promptContainer
      span.triangle
      span.box
    p Hit "Allow" to continue.

  div#videos
    div#myPublisherDiv
    div#streamsContainer
    div#plussign
    

  div.clearfix
  
  script
    $(function() {
      $('.imgBackground').addClass('meetingImg');
      $('.nav ul').addClass('meetingNav');
      $('.nav li').addClass('meetingLi');
      $('#emailLink').addClass('fullEmailLink');
      $('.footer').addClass('meetingFooter');
      $('i').removeClass('iconHidden');
      $('i').addClass('iconShow');
      $('.iconShow').addClass('iconNav');

    })
